<h1>Dashboard</h1>
<div class="row mb-4">
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Total Accounts Uploaded</h5>
        <h1><%= @total_accounts %></h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Most Popular Product</h5>
        <h1><%= @most_popular_product_name %></h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Total Units Sold</h5>
        <h1><%= @total_units_sold %></h1>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <img src="/images/company_logo.png" alt="Company Logo" style="max-height: 100px;">
</div>